<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lemon&family=Nunito:wght@300&display=swap" rel="stylesheet">
  <title>Account created - Mobcare</title>
  <style>
    *{
      font-family: Nunito;
    }
    body {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f0f0f0; /* Set a background color for the entire page */
    }

    .center-box {
      width: 18rem;
      height: auto;
      padding: 1rem;
      background-color: white;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 12px 0px, rgba(0, 0, 0, 0.06) 0PX 1px 2px 0px;
    }

    img{
        display: block;
        margin: auto;
        width: 50%;
    }

    .message {
      font-size: 18px;
      color: #333;
      margin-top: -2.8rem;
      text-align: center;
    }

    ul{
        margin-top: -1rem;
        margin-left: -2.5rem;
        width: 100%;
    }

    ul li{
        list-style: none;
        text-align: center;
    }

    i{
        width: 72%;
        font-size: 0.8em;
        margin-top: 1.5rem;
        text-align: center;
    }

    @media screen and (min-width: 720px){
      .center-box {
      width: 25rem;
      height: 34rem;
      }
    }
    
  </style>
</head>
<body>

  <div class="center-box">
      <img src="https://res.cloudinary.com/dbfue99qr/image/upload/v1694772669/phoenix/phoenix-uploads/tick_ie8hgn.png" alt="" srcset="">
    <h1 style="color: #00a24a;  font-family: 'Nunito', serif; font-weight: bold;">Account Created!</h1>
    <p class="message">
        <h3 style="color: #046599;">Details:</h3>
        <ul>
          <li >Account Number: </li>
          <li style="color: #046599;"><b><%= accountNumber %></b></li>
          <li  >Name: </li>
          <li style="color: #046599;"><b><%= fullName %></b></li>
        </ul>
        <i style="color: rgb(83, 75, 75);">Note: You will transfer to this account to fund your wallet. Please note the Account number above as it will not be displayed again unless you contact an Admin.</i>
    </p>
  </div>

</body>
</html>
